body {
  background-color: powderblue;
  overflow-x: hidden !important;
}

.white-color {
  color: "#FFFFFF" !important;
}

.primary-color {
  color: #011e31 !important;
}

.secondary-color {
  color: #e8872a !important;
}

.bg-primary {
  background-color: #011e31 !important;
  color: white !important;
  border: 0;
}

.bg-secondary {
  background-color: #e8872a !important;
}

.login {
  background-image: url("/public/img/Login.png");
}

.register {
  background-image: url("/public/img/Register.png");
  padding-top: 50px;
  padding-bottom: 50px;
}

.login-card {
  margin-top: 150px;
  height: 450px;
  min-width: 400px;
  max-width: 600px;
  border: 1px solid #011e31;
}

.register-card {
  margin-top: 100px;
  height: 650px;
  min-width: 400px;
  max-width: 600px;
  border: 1px solid #011e31;
}

.hero-section {
  position: relative;
  height: 60vh; /* Adjust height as needed */
  background-image: url("https://example.com/hero-background.jpg"); /* Replace with your image URL */
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.hero-title {
  font-size: 3rem; /* Adjust as needed */
  margin-bottom: 20px;
}

.hero-description {
  font-size: 1.2rem; /* Adjust as needed */
  margin-bottom: 30px;
}

.hero-button {
  padding: 10px 20px;
  font-size: 1rem; /* Adjust as needed */
}

.dashboard {
  padding-top: 130px !important;
}

.dashboard .card {
  overflow: hidden;
}

.dashboard .card img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.dashboard .rides:hover img {
  transform: scaleX(1.2);
}

.add-ride,
.edit-ride,
.faq,
.add-package,
.admin-analytics,
.messages {
  padding-top: 130px !important;
}

.add-package {
  margin-bottom: 200px !important;
}

.notification {
  width: 500px;
}
